---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeHero from '../components/home/HomeHero.astro';
import SocialProofBar from '../components/home/SocialProofBar.astro';
import AboutSection from '../components/home/AboutSection.astro';
import FeaturedVideos from '../components/home/FeaturedVideos.astro';
import ContentPillars from '../components/home/ContentPillars.astro';
import ExperienceSection from '../components/home/ExperienceSection.astro';
import ServicesSection from '../components/home/ServicesSection.astro';
import LatestArticles from '../components/home/LatestArticles.astro';
import TestimonialsSection from '../components/home/TestimonialsSection.astro';
import FinalCTASection from '../components/home/FinalCTASection.astro';
import { site } from '../config/site';
import { getPublishedArticles } from '../lib/articles';
import { buildPersonSchema } from '../lib/schema';

const articles = await getPublishedArticles();
---

<BaseLayout
  title={site.title}
  description={site.description}
  canonical="/"
  keywords={['programación', 'SQL', 'Java', 'tutoriales', 'YouTube', 'Kevin Medina']}
  schemas={[buildPersonSchema()]}
  fullWidth
>
  <div class="home-page">
    <div class="container">
      <HomeHero />
    </div>
    <FeaturedVideos articles={articles} />
    <ContentPillars />
    <FinalCTASection />
  </div>
</BaseLayout>
