---
import { site } from '../config/site';

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container footer-inner">
    <p>
      © {year} {site.author.name}. Tutoriales de programación en español.
    </p>
    <p>
      <a href={site.youtube.channelUrl} rel="noopener noreferrer" target="_blank">
        Suscríbete en YouTube
      </a>
    </p>
  </div>
</footer>
